.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 1.5rem;
  justify-content: space-around;
}
.footer > div img {
  width: 15%;
  height: 55px;
}
.footer > div h5 {
  font-size: 4vw;
}
@media screen and (max-width: 760px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer > div h5 {
    font-size: 13vw;
  }
  .footer > div img {
    width: 15%;
  }
}
